h1{
  font-family: 'Rajdhani', sans-serif;
  text-align: left;
  color:#ec183f
}

h3{
  font-family: 'Rajdhani', sans-serif;
  text-align: left; 
}




body{
    font-family: 'Rajdhani', sans-serif;
    padding-top: 0px;
    padding-right: 300px;
    padding-bottom: 10px;
    padding-left: 300px;  
}

p{
  text-align:left;
}

footer{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
  }

